header {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/*///////////////////////////////   Splash page    ///////////////////////////////*/

.SpMe {
    height: 500px;
}

.Sph1 {
    text-align: center;
}

.Sph2 {
    font-size: 20px;
    margin-bottom: -12px;
}

.SpContainer {
    display: flex;
    justify-content: center;
}

.Spsection {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Spform {
    display: flex;
    align-items: baseline;
}

.SpAccept {
    margin: 0px 10px 0px 10px;
}

/*///////////////////////////////   About  ///////////////////////////////*/

.Abh1 {
    background-image: url("./About/City.jpg");
}

.AbMuleHollow, .AbCrest {
    border: 2px solid black;
}

.AbClimbBody, .AbBoardBody {
    display: flex;
    margin: 0px 0px 20px 20px;
}

.AbClimbText, .AbBoardText {
    margin-left: 10px;
}

/*///////////////////////////////   Work History   ///////////////////////////////*/

.Whh1 {
    background-image: url("./WorkHistory/Sashimi.jpg");
}

.WhTsunamiImg {
    height: 60px;
    margin-left: 10px;
}

/*///////////////////////////////   Education  ///////////////////////////////*/

.Edh1 {
    background-image: url("./Education/Idaho.jpg");
}

/*///////////////////////////////   Contacts   ///////////////////////////////*/

.CoCard {
    margin: 5vh 0vw 0vh 5vw;
    height: 338px;
    width: 600px;
    border: 2px solid black;
    background-image: url("./Contact/Blanche.jpg");
}

.Coh2 {
    margin: 0px 0px 2px 5px;
}

.Coh3 {
    font-size: 15px;
    margin: 0px 0px 0px 5px;
}

/*///////////////////////////////   Cat   ///////////////////////////////*/

.CaMaddie {
    margin: 5vh 0vw 0vh 5vw;
    border: 2px solid black;
}

/*///////////////////////////////   Shared   ///////////////////////////////*/

.AbMain, .WhMain, .EdMain {
    margin: 5vh 0vw 0vw 10vw;
    width: 80vw;
    border: 2px solid black;
    background-color: white;
}

.Abh1, .Whh1, .Edh1 {
    height: 170px;
    background-repeat: no-repeat;
}

.WhSnowBirdImg, .EdEvergreenImg, .EdHelioImg {
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.EdEvergreen, .EdHelio, .WhTsunami, .WhSnowBird {
    display: flex;
}
